<%- include('../partials/header/') %>

  <form action="/todos/<%= todo.id %>?_method=PUT" method="POST">
    <input type="text" name="todo" value="<%= todo.todo %>">
    <br>
    <label>
        <input type="checkbox" name="done" <%= todo.done ? 'checked' : '' %>>
        Done
    </label><br>
    <button type="submit">Update</button>
  </form>

<%- include('../partials/footer/') %>
